<template>
<div>
  <h1 class="centralizado">{{ titulo }}</h1>

<p v-show="mensagem" class="centralizado">{{ mensagem }}</p>

  <input type="search" class="filtro" placeholder="Filtre pelo título" v-on:input="filtro = $event.target.value">
  {{ filtro }}
<ul class="listaFotos">
  <li v-for="foto of fotosComFiltro" :key="foto.fotos" class="listaFotosItem">

      <meu-painel :titulo="foto.titulo">
        <imagem-responsiva v-meu-transform:scale.animate="1.2" :url="foto.url" :titulo="foto.titulo"></imagem-responsiva>
        <meu-botao 
          tipo="button" 
          rotulo="Remover" 
          @botaoAtivado="remove(foto)"
          :confirmacao="true"
          estilo="perigo" />
          <!-- Qundo poe 2 pontos ele analisa o conteudo e nao considera tudo como string -->
      </meu-painel>

  </li>
</ul>

</div>
</template>

<script>

import Painel from '../shared/painel/Painel.vue';
import ImagemResponsiva from '../shared/imagem-responsiva/imagemResponsiva.vue';
import Botao from '../shared/botao/Botao.vue';

export default {

  components: {
    'meu-painel': Painel,
    'imagem-responsiva': ImagemResponsiva,
    'meu-botao': Botao
  },

data () {
  return{
    titulo: "Guilherme",
    fotos: [],
    filtro:'',
    mensagem:''
  }
},

methods:{

    remove(foto) {

      this.$http
        .delete(`v1/fotos/${foto._id}`)
        .then(() => {
            // assim que apagar, exibe a mensagem para o usuário
            let indice = this.fotos.indexOf(foto);
            this.fotos.splice(indice, 1);

            this.mensagem = 'Foto removida com sucesso';

          }, 
          err => {
            this.mensagem = 'Não foi possível remover a foto';
            console.log(err);
          }
        )
    }

  },

created() {
  
  let promise = this.$http.get('v1/fotos');
  promise
    .then(res => res.json())
    .then(fotos => this.fotos = fotos, err => console.log(err));
  },

  computed: {

    fotosComFiltro () {

      if (this.filtro) {
        let exp = new RegExp(this.filtro.trim(), 'i');
        return this.fotos.filter(foto => exp.test(foto.titulo));
      }
      else
      {
        return this.fotos;
      }

    }

  }

}
</script>

<style>

.centralizado {
  text-align:center;
}

.listaFotos {
  list-style:none;
}

.listaFotosItem {
  display:inline-block;
}

.filtro{
  display: block;
  width: 100%;
}


</style>
